.container
  .content
    %h2 Events
    %table.table.table-striped
      %thead
        %tr
          %th Timestamp
          %th Type
          %th Message
        %tbody
     ~@search_es.results.each do |event|
        %tr
          %td= event.to_yaml

