.container
  .content
    %h2 Events
    %table.table.table-striped
      %thead
        %tr
          %th Timestamp
          %th Type
          %th Message
      %tbody
      ~@esearch.each do |event|
        %tr
          %td 
            %a{:href => '/ipadress/' << ip['_id'].to_s}=  ip['adress']
          %td= ip['adress'] ? ip['description'] : '&nbsp'
          %td= ip['type']
          %td= ip['time']          

