.container
  .content
    %h2 Events
    %table.table.table-striped
      %thead
        %tr
          %th Timestamp
          %th Type
          %th Message
        %tbody
         %tr
          %td 'Test'
	  %td 'Test 1'
          %td 'Test 2'
