.container-fluid
  .row-fluid
    .span4
      %h2= @ipadress['adress'].to_s
      %p='Beschreibung:' + @ipadress['description'].to_s
      %p='Type:' + @ipadress['type'].to_s
      %p='IP seen:' + @ipadress['time'].to_s
      %p='Tags:' + @ipadress['tag'].to_s
      %p='Counter:' + @ipadress['counter'].to_s 
